#titulo-alexandria {
    text-align: center;
}
#subtitulo-alexandria {
    text-align: center;
}

.livros {
    display: flex;
    justify-content: space-evenly;
}
.livro {
    margin-right: 50px;
}
.livro_filhos {
    background-color: #e0e0e0;
}

label {
    display: block;
    margin-bottom: 20px;
}
footer {
    text-align: center;
    height: 50px;
    margin-top: 50px;
}

.content-inside {
    padding-bottom: 100px;
}